header {
    width: 100vw;
    min-height: 60px;
    max-height: 60px;
    box-sizing: border-box;
    background: none;
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    z-index: 100;
    transition: transform 0.3s ease-in-out; /* 부드러운 이동 효과 */
}
header.white {
    background-color: #ffffff;
}
.header-flex {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1440px;
    padding: 0 24px;
    height: 60px;
}
#nav-list,
.setting-div {
    display: none;
}
#nav-list ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4rem;

    margin: 0;
    padding: 0;
    list-style: none;

    /* 초기화: 폰트나 배경, 여백까지 전부 없앰 */
    background: none;
    border: none;
    box-shadow: none;
}
#nav-list ul li {
    height: 40px;
    list-style-type: none;
    cursor: pointer;
    align-content: center;
}
#nav-list ul li a {
    padding: 15px 8px;
    font-size: 16px;
    white-space: nowrap;
    word-break: keep-all;
}

#nav-list ul li a:hover {
    font-weight: bold;
    background-color: #ffffff13;
    border-radius: 4px;
}
.white #nav-list ul li a:hover {
    background-color: #F2F2F2;
}
#nav-list ul li a.active {
    font-weight: bold;
    text-decoration: underline 1px solid #000000;
    text-underline-offset: 10px;
    
}
.logo-div {
    min-width: 15%;
}
.logo-div img {
    box-sizing: border-box;
    min-width: 72px;
    max-width: 72px;
    min-height: 30px;
    max-height: 30px;
}
#menu-btn,
#mobile-menu-btn {
    cursor: pointer;
    display: block;
    padding: 10px 0 10px 10px;
    align-content: center;
    justify-content: center;
}
@media screen and (min-width: 768px) {
    .header-flex {
        margin: 0 auto;
        min-width: 768px;
    }
    #nav-list,
    .setting-div {
        display: flex;
    }
    .setting-div {
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 0;
        box-sizing: border-box;
    }
    #menu-btn {
        display: none;
    }
}
.setting-div .contact-us,
.setting-div .lang-container {
    display: flex;
    box-sizing: border-box;
    width: 92px;
    height: 32px;
    cursor: pointer;
    font-size: 16px;
    justify-content: center;
    align-items: center;
}
.setting-div .lang-container {
    position: relative;
}
/* .setting-div a div {
    height: 100%;
    width: 100%;
    align-content: center;
} */
.setting-div .contact-us {
    background-color: #0222B4;
    border-radius: 4px;
    color: #111111;
    box-sizing: border-box;
}

.setting-div .lang-setting {
    gap: 8px;
    padding: 0;
}
#lang-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: white;
    color: black;
    border: 1px solid #ccc;
    flex-direction: column;
    z-index: 1000;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
}
  
#lang-dropdown a {
    display: block;
    text-align: center;
    align-content: center;
    cursor: pointer;
    box-sizing: border-box;
    height: 35px;
    font-size: 16px;
}
  
#lang-dropdown a:hover {
    background-color: #F2F4FB;
}
/* ================== */
#mobile-nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    min-width: 100vw;
    min-height: 100vh;
    z-index: 200;
    background-color: #ffffff;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in;
}
#mobile-nav.active {
    transform: translateX(0);
}
.mobile-nav-head {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 60px;
    padding: 0 2.4rem;
    box-sizing: border-box;
    border-bottom: 1px solid #E6E6E6;
}

#mobile-nav-list ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;

    margin: 0;
    padding: 0;
    list-style: none;

    /* 선택 사항 - 전체 너비를 nav에 맞게 확장
    width: 100%;
    height: 100%; */

    /* 초기화: 폰트나 배경, 여백까지 전부 없앰 */
    background: none;
    border: none;
    box-shadow: none;
}
#mobile-nav-list ul li {
    height: 40px;
    list-style-type: none;
    cursor: pointer;
    align-content: center;
}
#mobile-nav-list ul li a {
    padding: 15px 8px;
    font-size: 20px;
    white-space: nowrap;
    word-break: keep-all;
}

#mobile-nav-list ul li a:hover {
    font-weight: bold;
    background-color: #ffffff13;
    border-radius: 4px;
}
#mobile-nav-list .contact-us {
    box-sizing: border-box;
    width: 92px;
    height: 32px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    color: #ffffff;
    display: flex;
    background-color: #0222B4;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    box-sizing: border-box;
}
#mobile-nav-list ul li a.active {
    font-weight: bold;
    text-decoration: underline 1px solid #000000;
    text-underline-offset: 10px;
    
}