@font-face {
    font-family: 'Pretendard-JP' !important;
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2305@1.0/PretendardJP-Regular.woff2') format('woff2') !important;
    font-weight: 400;
    font-style: normal;
}
body {
    font-family: 'Pretendard-JP', sans-serif;
    word-break: break-all !important;
}
#svg1 {
    background: url(/assets/sale/jnews1-1.svg) center/contain no-repeat !important;
}
#svg2 {
    background: url(/assets/sale/jnews2-1.svg) center/contain no-repeat !important;
}
@media screen and (min-width: 784px) {
    #svg1 {
        background: url(/assets/sale/jnews1.svg) center/contain no-repeat !important;
    }
    #svg2 {
        background: url(/assets/sale/jnews2.svg) center/contain no-repeat !important;
    }
    
}