#intro {
    position: relative;
    display: block;
    padding-top: 8rem;
    width: 100vw;
    height: 41.4rem;
    background: url(/public/qna/intro.png) center/cover no-repeat;
    text-align: center;
    align-content: center;
    color: #ffffff;
}
#question {
    position: relative;
    display: block;
    padding: 9rem 0;
    max-width: 80%;
    height: auto;
    margin: 0 auto;
    text-align: left;
    align-content: center;
    color: #000000;
    font-size: 3rem;
    box-sizing: border-box;
}
.question-category {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 2rem;
    margin: 3rem 0 5rem;
    text-align: center;
    color: #333D4B;
    font-weight: bold;
    font-size: 2rem;
}
@media screen and (min-width: 768px) {
    #question {
        max-width: 1040px;
    }
}
.question-category .category {
    background-color: #E5E7EC;
    width: 7.6rem;
    height: 4.6rem;
    align-content: center;
    border-radius: 2.3rem;
    cursor: pointer;
}
.question-category .category.active {
    background-color: #0222B4;
    border-radius: 2.3rem;
    color: #ffffff;
}
.question-div {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    font-size: 1.8rem;
    margin: 2.4rem 0;
    background: rgba(255, 255, 255, 0.50);
    box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.05);
    border-radius: 16px;
    border: 1px rgba(0, 0, 0, 0.10) solid;
    padding: 0 3.5rem;
}
.question {
    position: relative;
    display: flex;
    justify-content: space-between;
    text-align: left;
    gap: 2rem;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    color: #333D4B;
    box-sizing: border-box;
    cursor: pointer;
    padding: 2.8rem 0;
    align-items: center;
    font-weight: bold;
}
.question-div.bb {
    display: none;
}
.question::after {
    content: '';
    background: url(/public/qna/arrow.svg) center/cover no-repeat;
    position: relative;
    width: 16px;
    height: 8px;
    right: 0;
}
.answer {
    display: flex;
    max-height: 0;
    overflow: hidden;
    position: relative;
    border-top: 1px solid #96969624;
    text-align: left;
    width: 100%;
    background-color: #ffffff;
    color: #333D4B;
    padding: 0 2.8rem;
    line-height: 24px;
    transition: padding 0.2s ease;
}

.answer.show {
    max-height: 100%;
    padding: 2.8rem;
}
.answer span {
    font-weight: bold;
    color: #0222B4;
}
.answer p {
    font-size: 1.8rem;
}
#closer {
    width: 100vw;
    height: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background: url(/public/qna/closer.png) center/cover no-repeat;
    color: #ffffff;
}