#s1 {
    left: calc(50% - 60px);
}

#s2 {
    left: calc(50% - 115px);
}

#s3 {
    left: calc(50% - 58px);
}
#s4 {
    left: calc(50% - 114px);
}

@media screen and (min-width: 984px) {

    #s1 {
        top: calc(50% - 153px);
        left: calc(50% + 14px);
    }
    #s2 {
        top: calc(50% - 150px);
        left: calc(50% - 81px);
    }
    #s3 {
        top: calc(50% + 10px);
        left: calc(50% + 7px);
    }
    #s4 {
        top: calc(50% + 63px);
        left: calc(50% - 82px);
    }
    
}